.section{
  padding: 50px;
  text-align: center;
  background-color: black;
  color: white;
}
h2{
  text-align: center;
}
.row{
  display: flex;
  width: 100%;
  text-align: center;
}
body{
  margin: 0;padding: 0;
}
html{
  box-sizing: border-box;
}
.column{
  text-align: left;
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container{
  padding: 0 16px;
}
.title{
  color: grey;
}
button{
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
}
button:hover{
  background-color: blue;
}
